/* ------------------------------------------------------------- */
/*VARIABLE DECLARATION, BODY AND UNIVERSAL DECALRATION CSS DESIGN  */
/* -------------------------------------------------------------- */

:root{
    --text-color: #4CFC0F;
    --secondary-color: #2ecc71;
    --background-color: black;
    --text-color: #2c3e50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, sans-serif;
}

body{
    background: 
        radial-gradient(
            circle at 15% 20%, 
            rgba(196,154,108,0.18), 
            transparent 40%
        ),
        radial-gradient(
            circle at 85% 80%, 
            rgba(196,154,108,0.12), 
            transparent 45%
        ),
        linear-gradient(
            135deg,
            #0B0B0B 0%,
            #111111 40%,
            #1A1A1A 100%
        );
}


/* ------------------------------------------------------------- */
/*                       HEADER CSS DESIGN  */
/* -------------------------------------------------------------- */


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: #A47149;
    background-color: #000000;
    width: 100%;
}

header .left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .mid{
    display: flex;
    gap: 1.5rem;
}

header .right{
    display: flex;
    gap: 1rem;
    border: 1px solid #A47149;   /* Bronze */
    padding: 15px 40px;
    border-radius: 1.5rem;
}

header .left img{
    height: 50px;
    width: auto;
}

header a{
    color: #D9D9D9;        /* Soft silver */
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
}

header a:visited{
    color: #D9D9D9;   /* Same as default link */
}

header a:hover{
    color: #A47149;      /* Bronze hover */
    transition: 0.3s ease-in-out;
}

header .right a:hover{
    color: black;
}


header .right:hover{
    background-color: #F2C79E;   /* Warm soft fill */
    /* transition: 0.1s ease-in-out; */
}






/* ------------------------------------------------------------- */
/*                       FOOTER CSS DESIGN  */
/* -------------------------------------------------------------- */

footer{
    background-color: #000000;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    padding: 3rem 8rem 1rem 8rem;
}

footer a{
    color: #A47149;      /* Bronze */
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
}

.left-1 a{
    font-size: 0.8rem;
}

.left-1 .footer-address{
    color: #A47149;      /* Bronze hover */
    font-weight: 200;
    font-size: 0.8rem;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.footer-socials{
    display: flex;
    justify-content: space-between;
}

.socials-right{
    color: #A47149;      /* Bronze */
    font-size: 0.8rem;
    margin-top: 0.9rem;
    margin-right: 11rem;
}


.footer-contact{
    display: flex;
    justify-content: space-between;
}

.left-1, .right-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.4rem;
}

footer .right-1 a{
    text-decoration: underline;
    font-size: 0.9rem;
}

footer .right-1 a{
    font-size: 0.9rem;
    margin-right: 16rem;
}


i{
    font-size: 1.8rem;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 1rem;
}


/* ------------------------------------------------------------- */
/*                       HOME MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.main-home{
}







/* ------------------------------------------------------------- */
/*                       CONTACT MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.main-contact{
    margin: 1rem 8rem;
}


.main-contact .contact-top{
    display: flex;
    justify-content: space-between;
}

.contact-top .right{
    width: 40%;
    color: #A47149;      /* Bronze */
    font-size: 1rem;
    line-height: 1.5;
}


.contact-top .right{
    color: #A47149;      /* Bronze */
    font-size: 1rem;    
}

.contact-top .left{
    color: #A47149;      /* Bronze */
    font-size: 4rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}

.contact-name, .contact-lastname, .contact-phone, .contact-email, .contact-message{
    display: flex;
    flex-direction: column;
    color: #A47149;      /* Bronze */
}

.form input, .form textarea{
    padding: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: transparent;
    border: 1px solid #A47149;  /* Bronze */
    color: #F2C79E;   /* bright coloour input text */
    border-radius: 1.3rem;
    width: 55%;
}

.form button{
    padding: 0.9rem;
    background-color: transparent;
    color: #F2C79E;
    border: 1px solid #A47149;  /* Bronze */
    border-radius: 1.3rem;
    font-weight: 500;
    font-size: 1rem;
    width: 55%;
}

.form button:hover{
    background-color: #F2C79E;
    color: black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.contact-image{
    width: 105%;
    height: 105vh;
    margin: 6rem 0;
}



/* ------------------------------------------------------------- */
/*                        ABOUT MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.about-home{
    margin: 5rem 8rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 12rem;

}    

.about-left{
    display: flex;
    flex-direction: column;
    color: #A47149;  /* Bronze */
}

.about-left a{
    text-decoration: none;
    color: #A47149;  /* Bronze */
    border: 1px solid #A47149;  /* Bronze */
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    width: 35%;
    text-align: center;
    margin-top: 3rem;
}

.about-left a:hover{
    background-color: #A47149;  /* Bronze */
    color: black;
    transition: 0.3s ease-in-out;
}

.about-left h1{
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.about-left p{
    font-size: 0.9rem;
    line-height: 1.3;
    width: 80%;
    margin-top: 1rem;
}

.about-right img{
    width: 40rem;
    height: auto;   /* important */
}



/* ------------------------------------------------------------- */
/*                        SERVICES MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.main-services{
    margin: 5rem 8rem;
    color: #A47149;  /* Bronze */
}

.services, .mixing{
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-top: 6rem;
}


.circle-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #A47149 1px, transparent 1px);
  background-size: 6px 6px;
  filter: drop-shadow(0 0 10px #39ff14);
  border-bottom: 1px solid #39ff14;
}

.music-production, .sound-mixing, .audio-editing{
    display: flex;
    height: 20vh;
    /* gap: 2rem; */
    margin: 3rem 0;
    justify-content: space-between;
    margin-bottom: 5rem;
}


.music-production .left, .sound-mixing .left, .audio-editing .left{
    width: 30%;
    margin:0;
    font-size: 2rem;
}

.music-production .right, .sound-mixing .right, .audio-editing .right{
    width: 20%;
    margin-left: auto;
}

.music-production .mid, .sound-mixing .mid, .audio-editing .mid{
    width: 25%;
    margin-left: 5rem;
    font-size: 0.9rem;
    line-height: 1.5;

}

.music-production .right a, .sound-mixing .right a, .audio-editing .right a{
    margin-left: 25%;
    border: 1px solid #4CFC0F;
    padding: 1.2rem 3rem;
    border-radius: 1.5rem;
    background-color: transparent;
    text-align: center;
    color: #4CFC0F;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.4rem;
    transition: 0.3s ease-in-out;
}

.music-production .right a:hover, .sound-mixing .right a:hover, .audio-editing .right a:hover{
    background-color: #4CFC0F;
    color: black;
    transition: 0.3s ease-in-out;
}

.break-line{
    border-bottom: 1px solid #4CFC0F;
    margin: 6rem 0;
}



