:root{
    --text-color: #4CFC0F;
    --secondary-color: #2ecc71;
    --background-color: black;
    --text-color: #2c3e50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, sans-serif;
}

body{
    background: linear-gradient(to right, #133A05,#133109, #0F2308, #0E1A0A, #0E140C,#101010, #111111, #141414, #151515, #161616, #171717, #181818, #191919);
    /* background: radial-gradient(circle at left, #4CFC0F 0%, #000000 44%); */
    /* background: linear-gradient(90deg, #0bff3c 0%, #020202 40%, #000000 100%); */
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: #4CFC0F;
    background-color: #000000;
    width: 100%;
}

header .left{
    display: flex;
    gap: 1rem;
}

header .mid{
    display: flex;
    gap: 1.5rem;
}

header .right{
    display: flex;
    gap: 1rem;
    border: 1px solid #4CFC0F;
    padding: 15px 40px;
    border-radius: 1.5rem;
}

header a{
    color: #4CFC0F;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
}

header a:visited{
    color: white;
}

header a:hover{
    color: white;
    transition: 0.3s ease-in-out;
}

header .right a:hover{
    color: black;
}


header .right:hover{
    background-color: #4CFC0F;
    transition: 0.3s ease-in-out;
}
