/* ------------------------------------------------------------- */
/*VARIABLE DECLARATION, BODY AND UNIVERSAL DECALRATION CSS DESIGN  */
/* -------------------------------------------------------------- */

:root{
    --text-color: #4CFC0F;
    --secondary-color: #2ecc71;
    --background-color: black;
    --text-color: #2c3e50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, sans-serif;
}

body{
    background: linear-gradient(to right, #133A05,#133109, #0F2308, #0E1A0A, #0E140C,#101010, #111111, #141414, #151515, #161616, #171717, #181818, #191919);
    /* background: radial-gradient(circle at left, #4CFC0F 0%, #000000 44%); */
    /* background: linear-gradient(90deg, #0bff3c 0%, #020202 40%, #000000 100%); */
}


/* ------------------------------------------------------------- */
/*                       HEADER CSS DESIGN  */
/* -------------------------------------------------------------- */


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: #4CFC0F;
    background-color: #000000;
    width: 100%;
}

header .left{
    display: flex;
    gap: 1rem;
}

header .mid{
    display: flex;
    gap: 1.5rem;
}

header .right{
    display: flex;
    gap: 1rem;
    border: 1px solid #4CFC0F;
    padding: 15px 40px;
    border-radius: 1.5rem;
}

header a{
    color: #4CFC0F;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
}

header a:visited{
    color: white;
}

header a:hover{
    color: white;
    transition: 0.3s ease-in-out;
}

header .right a:hover{
    color: black;
}


header .right:hover{
    background-color: #4CFC0F;
    /* transition: 0.1s ease-in-out; */
}






/* ------------------------------------------------------------- */
/*                       FOOTER CSS DESIGN  */
/* -------------------------------------------------------------- */

footer{
    background-color: #000000;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    padding: 3rem 8rem 1rem 8rem;
}

footer a{
    color: #4CFC0F;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
}

.left-1 a{
    font-size: 0.8rem;
}

.left-1 .footer-address{
    color: #4CFC0F;
    font-weight: 200;
    font-size: 0.8rem;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.footer-socials{
    display: flex;
    justify-content: space-between;
}

.socials-right{
    color: #4CFC0F;
    font-size: 0.8rem;
    margin-top: 0.9rem;
    margin-right: 11rem;
}


.footer-contact{
    display: flex;
    justify-content: space-between;
}

.left-1, .right-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.4rem;
}

footer .right-1 a{
    text-decoration: underline;
    font-size: 0.9rem;
}

footer .right-1 a{
    font-size: 0.9rem;
    margin-right: 16rem;
}


i{
    font-size: 1.8rem;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 1rem;
}


/* ------------------------------------------------------------- */
/*                       HOME MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.main-home{
}







/* ------------------------------------------------------------- */
/*                       CONTACT MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.main-contact{
    margin: 1rem 8rem;
}


.main-contact .contact-top{
    display: flex;
    justify-content: space-between;
}

.contact-top .right{
    width: 40%;
    color: #4CFC0F;
    font-size: 1rem;
    line-height: 1.5;
}


.contact-top .right{
    color: #4CFC0F;
    font-size: 1rem;    
}

.contact-top .left{
    color: #4CFC0F;
    font-size: 4rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}

.contact-name, .contact-lastname, .contact-phone, .contact-email, .contact-message{
    display: flex;
    flex-direction: column;
    color: #4CFC0F;
}

.form input, .form textarea{
    padding: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: transparent;
    border: 1px solid #4CFC0F;
    color: #4CFC0F;
    border-radius: 1.3rem;
    width: 55%;
}

.form button{
    padding: 0.9rem;
    background-color: transparent;
    color: #4CFC0F;
    border: 1px solid #4CFC0F;
    border-radius: 1.3rem;
    font-weight: 500;
    font-size: 1rem;
    width: 55%;
}

.form button:hover{
    background-color: #4CFC0F;
    color: black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.contact-image{
    width: 105%;
    height: 105vh;
    margin: 6rem 0;
}



/* ------------------------------------------------------------- */
/*                        ABOUT MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.about-home{
    margin: 5rem 8rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 12rem;

}    

.about-left{
    display: flex;
    flex-direction: column;
    color: #4CFC0F;
}

.about-left a{
    text-decoration: none;
    color: #4CFC0F;
    border: 1px solid #4CFC0F;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    width: 35%;
    text-align: center;
    margin-top: 3rem;
}

.about-left a:hover{
    background-color: #4CFC0F;
    color: black;
    transition: 0.3s ease-in-out;
}

.about-left h1{
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.about-left p{
    font-size: 0.9rem;
    line-height: 1.3;
    width: 80%;
    margin-top: 1rem;
}

.about-right img{
    width: 40rem;
    height: 140%;
}



/* ------------------------------------------------------------- */
/*                        SERVICES MAIN CSS DESIGN  */
/* -------------------------------------------------------------- */

.main-services{
    margin: 5rem 8rem;
    color: #4CFC0F;
}



.circle-1 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #39ff14 1px, transparent 1px);
  background-size: 6px 6px;
  filter: drop-shadow(0 0 10px #39ff14);
}

.music-production{
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
    justify-content: space-evenly;
}

.music-production .left{
    width: 30%;
}

.music-production .right{
    width: 20%;
}

.music-production .mid{
    width: 40%;
}